{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .required:after {
            content:" *";
            color: red;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="flex items-center flex-col">
        <div>
            {% for label, messages in app.flashes(['success', 'warning']) %}
                {% for message in messages %}
                    <div class="border rounded bg-green-100 p-2 mb-8" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div>
            {{ form_start(form) }}
                <div class="flex flex-col">
                    <div>
                        <span class="font-bold text-xl">Informations sur le poste</span>
                        <div class="grid grid-cols-2 gap-4 border rounded p-4 mb-8 bg-gray-100">
                            <div class="flex flex-col">
                                {{ form_label(form.candidateType, 'Type de candidature') }}
                                {{ form_widget(form.candidateType, {'attr': {'class': 'bg-white rounded border border-dark-600 p-3 mb-2'}}) }}
                            </div>
                            <div class="flex flex-col">
                                {{ form_label(form.agencies, 'Agence souhaitée') }}
                                {{ form_widget(form.agencies, {'attr': {'class': 'bg-white rounded border border-dark-600 p-3 mb-2'}}) }}
                            </div>
                            <div class="flex flex-col">
                                {{ form_label(form.location, 'Lieu') }}
                                {{ form_widget(form.location, {'attr': {'class': 'bg-white rounded border border-dark-600 p-3 mb-2'}}) }}
                            </div>
                        </div>
                    </div>
                    <div>
                        <span class="font-bold text-xl">Informations sur vous</span>
                        <div class="grid grid-cols-2 gap-4 border rounded p-4 mb-8 bg-gray-100">
                            <div class="flex flex-col">
                                {{ form_label(form.firstName, 'Prénom') }}
                                {{ form_widget(form.firstName, {'attr': {'class': 'bg-white rounded border border-dark-600 p-2 mb-2'}}) }}
                            </div>
                            <div class="flex flex-col">
                                {{ form_label(form.lastName, 'Nom') }}
                                {{ form_widget(form.lastName, {'attr': {'class': 'bg-white rounded border border-dark-600 p-2 mb-2'}}) }}
                            </div>
                            <div class="flex flex-col">
                                {{ form_label(form.phoneNumber, 'Téléphone') }}
                                {{ form_widget(form.phoneNumber, {'attr': {'class': 'bg-white rounded border border-dark-600 p-2 mb-2'}}) }}
                            </div>
                            <div class="flex flex-col">
                                {{ form_label(form.email, 'Email') }}
                                {{ form_widget(form.email, {'attr': {'class': 'bg-white rounded border border-dark-600 p-2 mb-2'}}) }}
                            </div>
                            <div class="flex flex-col">
                                {{ form_label(form.website, 'Site internet') }}
                                {{ form_widget(form.website, {'attr': {'class': 'bg-white rounded border border-dark-600 p-2 mb-2'}}) }}
                            </div>
                            <div class="flex flex-col">
                                {{ form_label(form.linkedin, 'Profil Linkedin') }}
                                {{ form_widget(form.linkedin, {'attr': {'class': 'bg-white rounded border border-dark-600 p-2 mb-2'}}) }}
                            </div>
                            <div class="flex flex-col">
                                {{ form_label(form.file, 'CV') }}
                                {{ form_widget(form.file, {'attr': {'class': 'bg-white rounded border border-dark-600 p-2 mb-2'}}) }}
                            </div>
                            <div class="flex flex-col">
                                {{ form_label(form.actualStatus, 'Statut actuel') }}
                                {{ form_widget(form.actualStatus, {'attr': {'class': 'bg-white rounded border border-dark-600 p-3 mb-2'}}) }}
                            </div>
                        </div>
                    </div>
                    <div>
                        <span class="font-bold text-xl">Un petit plus</span>
                        <div class="grid grid-cols-1 gap-4 border rounded p-4 mb-4 bg-gray-100">
                            <div class="flex flex-col">
                                {{ form_label(form.description, 'Parlez nous de vous') }}
                                {{ form_widget(form.description, {'attr': {'class': 'bg-white rounded border border-dark-600 p-2 mb-2'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    {{ form_widget(form.save, {'attr': {'class': 'bg-gray-900 text-white rounded border border-dark-600 p-2 w-full mt-2 hover:bg-gray-800'}}) }}
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}